extends base

block content
  main.main
    .passwordReset-form
      h2.heading-secondary.ma-bt-lg Password Reset
      form.form.form--passwordReset
        .form__group.ma-bt-md
          label.form__label(for='password') New password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          label.form__label(for='password') Password confirmation
          input#password-confirmation.form__input(type='password', placeholder='••••••••', required, minlength='8')

        .form__group
          button.btn.btn--green Reset password