@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
  overflow-x: hidden;
}

.body-layer {
  position: sticky;
  width: 200%;
  height: 0px;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#4ac7ff, #9bf6ff, #fff);
  clip-path: polygon(0 94%, 100% 0, 100% 5%, 0 100%);
}

body:before {
  position: fixed;
  width: 200%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: linear-gradient(#4ac7ff, #9bf6ff, #fff);
  clip-path: polygon(0 94%, 100% 0, 100% 5%, 0 100%);
}

section.slide-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  perspective: 1500px;
}

section.slide-section h2 {
  font-family: 'Poppins';
  margin-left: 200px;
  font-size: 4em;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
}

section.slide-section .container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.slide-section:nth-child(even) .container {
  flex-direction: row-reverse;
}

section.slide-section .container .imgBx {
  position: relative;
  width: 1100px;
  height: 700px;
  overflow: hidden;
}

section.slide-section .container .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.slide-section .container .content {
  position: absolute;
  right: 0;
  margin-top: 200px;
  margin-bottom: 40px;
  padding: 40px;
  background: #333;
  z-index: 1;
  max-width: 400px;
  color: #fff;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  border-bottom: 6px solid #4ac7ff;
}

section.slide-section .container .content p {
  line-height: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  position: relative;
}

section.slide-section:nth-child(even) .container .content {
  left: 0;
}

.map-container {
  margin-top: 150px;
}

#map {
  width: 100%;
  height: 800px;
}

.marker {
  background: url('/img/bluePin.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;
}

.tour-card {
  width: 0;
  height: 0;
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #111;
  background: linear-gradient(to top, #cdf0fa, #fff, #fff);
  opacity: 0;
}

.tour-card.active {
  width: 200px;
  height: 300px;
  opacity: 1;
}

.card-img-con {
  width: 100%;
  height: 130px;
}

.card-img-con img {
  width: 100%;
  height: 100%;
}

.card-text-con,
.card-info-con {
  line-height: 1.6em;
  text-align: center;
  padding: 5px;
}
.card-text-con {
  border-bottom: 1px dashed #83d5eb;
}

.video {
  height: 500px;
  color: #fff;
}

.bkg-con {
  position: sticky;
  top: 80px;
  width: 100%;
  height: 150vh;
  overflow: hidden;
  background-color: #fff;
  transition: 2s;
}

#background {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/homepage/bg6.jpg');
  background-size: calc(120% + var(--y) * 1);
  background-repeat: no-repeat;
  background-position: top;
}

.bkg-girl {
  position: absolute;
  top: 0;
  width: 400px;
  left: 50%;
  max-width: calc(400px - var(--y) / 5);
}

.slide-8 {
  margin-top: 200vh;
}

.video-con {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.clip-path-con {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-con h1 {
  position: absolute;
  top: 80%;
  left: -5%;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  font-size: 10em;
  transform: translate(calc(-100% + var(--y) / 10), -50%);
  letter-spacing: 2px;
}

video {
  width: 100%;
  height: 100%;
}

.bkg-title {
  position: absolute;
  top: 40%;
  width: 100%;
  color: #fff;
  font-size: 12em;
  transform: translate(calc(100% - var(--y) * 2), -50%);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 450px) {
  .bkg-con {
    height: 60vh;
  }

  .bkg-title {
    font-size: 3em;
    top: 60%;
  }

  #background {
    background-size: cover;
  }

  .bkg-girl {
    width: 200px;
    height: 450px;
    left: 30%;
    max-width: calc(400px - var(--y) / 10);
  }

  section.slide-section {
    min-height: 40vh;
    width: 100%;
    perspective: 1500px;
    margin-bottom: 0;
  }

  section.slide-section h2 {
    margin-left: 50px;
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  section.slide-section .container {
    width: 90%;
  }

  section.slide-section .container .imgBx {
    width: 100%;
    height: 350px;
  }

  section.slide-section .container .content {
    right: 0;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 200px;
    border-bottom: 2px solid #4ac7ff;
  }

  section.slide-section .container .content p {
    line-height: 2em;
    font-size: 10px;
  }

  section.slide-section:nth-child(even) .container .content {
    left: 0;
  }

  .box {
    width: 95%;
  }

  #map {
    display: none;
  }

  .clip-path-con {
    height: 500px;
    color: #fff;
    background-size: cover;
  }

  .video-con h1 {
    font-size: 3em;
    top: 25%;
  }
}

@media (max-width: 1400px) {
  #background {
    background-size: calc(130% + var(--y) * 1);
  }
}
@media (max-width: 1300px) {
  #background {
    background-size: calc(150% + var(--y) * 1);
  }
}
@media (max-width: 1200px) {
  #background {
    background-size: calc(170% + var(--y) * 1);
  }
}
@media (max-width: 1100px) {
  #background {
    background-size: calc(190% + var(--y) * 1);
  }
}
@media (max-width: 920px) {
  #background {
    background-size: calc(210% + var(--y) * 1);
  }
}
@media (max-width: 850px) {
  #background {
    background-size: calc(230% + var(--y) * 1);
  }
  .bkg-girl {
    width: 380px;
    left: 40%;
  }
}
@media (max-width: 760px) {
  #background {
    background-size: calc(250% + var(--y) * 1);
  }
}
@media (max-width: 705px) {
  #background {
    background-size: calc(270% + var(--y) * 1);
  }
}
@media (max-width: 655px) {
  #background {
    background-size: calc(290% + var(--y) * 1);
  }
}
@media (max-width: 610px) {
  #background {
    background-size: calc(310% + var(--y) * 1);
  }
  .bkg-girl {
    width: 360px;
    left: 35%;
  }
}
@media (max-width: 570px) {
  #background {
    background-size: calc(330% + var(--y) * 1);
  }
  .bkg-girl {
    left: 30%;
  }
}
@media (max-width: 540px) {
  #background {
    background-size: calc(350% + var(--y) * 1);
  }
  .bkg-girl {
    left: 25%;
  }
}
